<div>

    <div id="slider" class="mui-slider">
        <div id="sliderSegmentedControl"
            class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <div class="mui-scroll">
                <a :class="['mui-control-item', item.id==0 ? 'mui-active': ' ']" v-for="(item, index) in cateGroyList"
                    :key="item.id" @tap='getPhotoInfos(item.id)'>
                    {{item.title}}
                </a>
            </div>
        </div>

    </div>


    <ul class="photo-list">
        <router-link v-for="item in photoList" :key="item.id" :to="'/home/photoview/photodetails/'+item.id" tag="li" >
            <img v-lazy="item.img_url">
            <div class="img-desc">
                <h3 class="img-title">{{item.title}}</h3>
                <div class="img-content">{{item.zhaiyao}}</div>
            </div>

        </router-link>
    </ul>
</div>