.submit-container {
    h3 {
        font-size: 16px;

    }

    textarea {
        height: 85px;
        margin: 0;
        font-size: 14px;
    }

    .sumit-hover {
        margin: 10px 0;

        .submit-title {
            background-color: #ccc;
            font-size: 13px;
            margin: 5px 0;

        }

        .submit-content {
            font-size: 12px;
            margin: 0 10px;
        }
    }

    .loader-more{
        margin: 5px 0;
    }

}