.title {
    font-size: 16px;
    text-align: center;
    color: red;
    margin: 10px 0;
}

.photo-content {
    margin: 0;
    padding: 0 10px;


}

.content {
    img {
        width: 100%;
    }
}