.shopping-container{
    background-color: #eee;
    overflow: hidden;
    .mui-card-content{
        .mui-card-content-inner{
            display: flex;
            align-items: center;
            img{
                width: 60px;
                height: 60px;
                margin-left: 20px;
            }
            h1{
                font-size: 14px;
            }
        
            .price{
                color: red
            }
            .mui-numbox{
                height: 20px;
                margin: 0 10px;
            }
            .desc{
                display: flex;
            }

        }
        
    }
}